.App .dark {
    --bg-color: #272727;
    --inverted-bg-color: #fcf9f2;
    --primary-color: #fff;
    --secondary-color: #b9b9b9;
    --inverted-primary-color: #272727;
    --inverted-secondary-color: #000;
}
