.ProfileCard {
  border: 1px solid #e6e6e6;
}

.data {
  margin-top: 10px;
}

.input {
  margin-bottom: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
